<section class="my-3">
  <div class="container">
    <h1>Configuration</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, et fuga magnam provident
      quibusdam sequi velit veniam? Dolore eveniet excepturi expedita officia placeat. Accusamus deserunt esse iusto
      nulla quaerat?
    </p>
  </div>
</section>
