<section class="my-3">
  <div class="container">

    <div class="d-flex my-3">
      <h1 class="flex-fill">Configuration</h1>
      <div class="align-self-center">
        {{#link-to "protected.index" class="btn btn-outline-secondary"}}Home{{/link-to}}
      </div>
    </div>

    <div class="list-group">
      {{#link-to "protected.configuration.roles.index" class="list-group-item list-group-item-action"}}
        <h5 class="mb-0">
          Roles
        </h5>
      {{/link-to}}
    </div>

  </div>
</section>
