<section>
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet, aperiam assumenda at blanditiis
      debitis deserunt distinctio hic impedit maiores mollitia officia pariatur saepe sit unde vel vero voluptatem!
    </p>
  </div>
</section>